<body>
    <header class="main-header">
        <nav class="main-nav">
            <div class="navbar-left">
                <h2 class="logo"><a href="/">Travelgram</a></h2>
            </div>
            <div class="navbar-center">
                <form action="/posteos/busqueda" class="search" method="get">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" class="search-input" placeholder="Buscar...">
                </form>
            </div>
            <div class="navbar-right">
                <ul class="menu">
                    <li><a href="/users/registrar">Registro</a></li>
                    <li><a href="/users/login">Login</a></li>
                    
                
                </ul>
            </div>
        </nav>
    </header>