<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>


<body>
    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
        <h1>Nuevo Post</h1>
        <p>Crear el formulario para cargar un nuevo posteo.</p>
        </section>
    </main>

    <%- include('./partials/footer') %> 


</body>

</html>