

<%- include('./partials/head') %>


    <%- include('./partials/header') %>


    <main>
        <section class="center main-content">
        <h1>Editar perfil</h1>
        <p>Crear el formulario para modificar los datos de perfil de un usuario.</p>
        </section>
    </main>
    <%- include('./partials/footer') %> 


</body>

</html>