

<%- include('./partials/head') %>

 <%- include('./partials/header') %>


    <main>
        <section class="center main-content">
        <h1>Resultados de búsqueda.</h1>
       

              
 <%- include('./partials/footer') %>






