<header class="main-header">
    
        <nav class="main-nav">
            <% if (userLogueado === true){%>
            <div class="navbar-left">
                <h2 class="logo"><a href="/">Travelgram</a></h2>
            </div>
            <div class="navbar-center">
                 <form action="/posteos/busqueda" class="search" method="get" > 
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" class="search-input" name="buscador" value="" placeholder="Buscar...">
                </form>
            </div>
          
            <div class="navbar-right">
                 <ul class="menu">
                    <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                    <li><a href="/posteos/agregar"><i class="fa-regular fa-square-plus"></i></a></li>
                    <li><a href="/users/perfil"><i class="fa-regular fa-user"></i></a></li>
                    <li><a href="/users/registrar"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                </ul>
            </div>
            
        </nav>
        <nav class="main-nav">
    <%} else{%>

            <div class="navbar-left">
                <h2 class="logo"><a href="/">Travelgram</a></h2>
            </div>
            <div class="navbar-center">
                 <form action="/posteos/busqueda" class="search" method="get" > 
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" class="search-input" name="buscador" value="" placeholder="Buscar...">
                </form>
            </div>
          
            <div class="navbar-right">
                 <ul class="menu">
                    <li><a href="/users/registrar">Registro</a></li>
                    <li><a href="/users/login">Login</a></li>
                    <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                    
        
                </ul>
            </div>
            
        </nav>
        <%}%>
</header>


